body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/940/original/eberhard-grossgasteiger-J9NDmBVhN04-unsplash.jpg?1681922246");
  background-position: center center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  font-family: "Roboto Slab", serif;
}

.container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1000px;
}
.card {
  width: 750px;
  height: 700px;
  border-radius: 15px;
  border: 1px solid white;
}
.weather {
  margin: -5px 60px;
}
.form-control {
  background: #eeeeee;
  position: relative;
  top: -10px;
  margin-left: -435px;
  width: 470px;
  line-height: 2.7;
  border: 1px solid white;
  border-radius: 5px;
}
#search-button {
  position: relative;
  left: 50px;
  top: -65px;
  background: #9896f1;
  line-height: 35px;
  display: block;
  border: 1px solid white;
  color: black;
  padding: 8px 8px;
  border-radius: 5px;
  width: 130px;
  transition: all 150ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
#search-button:hover {
  border: 1px solid white;
  background: #d9d5ef;
}
#current-location {
  position: relative;
  left: 90px;
  top: -56px;
  background: #d9d5ef;
  margin: 3px -15px;
  line-height: 35px;
  display: block;
  border: 1px solid white;
  color: black;
  padding: 8px 3px;
  border-radius: 5px;
  width: 95px;
  transition: all 150ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
#current-location:hover {
  border: 1px solid white;
  background: #9896f1;
}
h1 {
  line-height: 5px;
  padding-bottom: 10px;
  margin-top: -95px;
  font-weight: 600;
  font-size: 50px;
}
.current {
  line-height: 30px;
  margin-top: -34px;
}
#last {
  color: black;
}
.currentd {
  font-size: 18px;
  position: relative;
  top: -20px;
  color: #6f5db7;
}
#description {
  text-transform: capitalize;
}
.specs {
  color: #6f5db7;
}
.temp {
  position: relative;
  left: 170px;
  margin-top: -100px;
  line-height: 30px;
  padding-top: -10px;
  padding-bottom: 20px;
  width: 350px;
  font-size: 60px;
}
.temp .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.temp .active:hover {
  text-decoration: none;
}
#celsius-unit {
  text-decoration: none;
}
#far-unit {
  text-decoration: none;
}
.img1 {
  position: relative;
  left: 60px;
  margin-top: -20px;
  line-height: 30px;
  padding-top: -10px;
  padding-bottom: 20px;
  width: 120px;
}
#units {
  font-size: 17px;
  position: relative;
  top: -30px;
  left: -13px;
}

.futureT {
  margin-top: -25px;
  margin-left: -14px;
  padding-left: -550px;
  padding-right: 225px;
  width: 1000px;
  line-height: 50px;
}
.futureDay {
  font-weight: bold;
  font-size: 18px;
  margin-left: -3px;
}
.futureImg {
  width: 60px;
}
.highLow {
  font-weight: bold;
  width: 86px;
  margin-left: 8px;
}
.high {
  color: #6f5db7;
}
.low {
  color: #9896f1;
}
hr {
  margin-top: -30px;
  text-align: center;
  color: #9896f1;
}
p {
  margin: 0 auto;
  text-align: center;
  color: gray;
  font-size: 14px;
}
#footerLink {
  color: #6f5db7;
}
